$red: #f44336;
$orange: #ffc107;
$yellow: #ffeb3b;
$yellowgreen: #9acd32;
$green: #4caf50;
$blue: #056f73;
$dark-blue: #0c5052;
$teal: #2196f3;
$pink: #e91e63;
$purple: #9c27b0;
$gray: #d9dee4;
$amber: #ff9800;
$white: #fff;
$black: #000;
$light-gray: #a9a9a9;

$enable-gradients: true;