<!doctype html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <meta name="author" content="Eduardo Castro">
  <meta name="fragment" content="!">

  <title>REST API</title>
  <meta name="description" content="REST API">

</head>

<body>
  <h1>REST API</h1>
</body>

</html>
